# ==============================================================================
# Go-Live Frontend Environment Configuration Template
# ==============================================================================

# Backend API Base URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000

# Subdomain Root Domain
NEXT_PUBLIC_ROOT_DOMAIN=go-live.me

# Target GitHub Repository for Stars & Verification
NEXT_PUBLIC_GITHUB_REPO_URL=https://github.com/shanmukhasaireddy13/Go-Live
NEXT_PUBLIC_GITHUB_REPO_NAME=shanmukhasaireddy13/Go-Live
